::ng-deep .mat-tab-labels {
  // background-color: #09909cd1!important;
  background-image: linear-gradient(to right, #f50909, #08f33b);
  border-radius: 10px;
}


::ng-deep .mat-tab-label,
.mat-tab-link {
  color: white;
  min-width: 135px !important; // for adjusting mat-tab width
}

::ng-deep .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 24px;
  background-color: #333333;
  color: white;
  font-weight: 700;
  border-radius: 30px;
  height: 2.9em;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #d8d8d800 !important;
}

::ng-deep .mat-tab-label-container {
  height: 2.5em !important;
}






.red{
  color:red;
}
.green{
  color:green;
}
.blue{
  color:blue;
}
.gray{
  color:gray;
}

.overall2{
  font-size: large;
  font-weight: bolder;
}
.overall1{
  font-size: small;
}