<mat-tab-group>
    <mat-tab label="Data">
        <div class="container-fluid" >
           <h3 style="color: cornflowerblue;">Corona Virus (Covid- 19) Data</h3> 
            <div class="row">
                <div class="col-sm-5">


<table>
    <tr class="row overall1">        
            <td class="red">Confirmed</td><td class="blue">Active</td><td class="green">Recovered</td><td class="gray">Deceased</td>      
    </tr>
    <tr  class="row overall2">
        <td class="red">{{Confirmed_s}}</td><td class="blue">{{Active_s}}</td><td class="green">{{Recovered_s}}</td><td class="gray">{{Deaths_s}}</td>
    </tr>
</table>
                  <div style="height:40em;overflow: auto;">
                      <table class="table table-bordered table-sm text-nowrap tableFixHead">
                        <thead>
                            <th>State</th>
                            <th>Confirmed</th>
                            <th>Active</th>
                            <th>Recovered</th>
                            <th>Deaths</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let  p of Data;">
                                <td>{{p.State}}</td>
                                <td>{{p.Confirmed}}</td>
                                <td>{{p.Active}}</td>
                                <td>{{p.Recovered}}</td>
                                <td>{{p.Deaths}}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{Confirmed_s}}</td>
                                <td>{{Active_s}}</td>
                                <td>{{Recovered_s}}</td>
                                <td>{{Deaths_s}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>  
                </div> 
                 <div class="col-sm-7">

                  



                 </div>
            </div>
           
        </div>
    </mat-tab>
    <mat-tab label="Chart">
        <div class="container">


              


        </div>
    </mat-tab>
</mat-tab-group>









